body {
    margin: 0;
    justify-self: center;
    max-width: 500px;
    width: 100%;
    font-family: sans-serif;
    padding: 0 10px;
    height: 50em;
}

form {
    display: flex;
    justify-content: space-between;
    padding: 1.5vh 1vw 0 1vw;
}

label {
    align-self: center;
    margin-right: -.5em;
    display: none;
}

input,
select,
button {
    border-radius: 5px;
    border: 1.5px solid rgb(215,215,215);
    height: 5vh;
}

select {
    padding-left: .25em;
    background: white;
    color: black;
}

input {
    padding: 0;
    border: none;
    background: white;
}

input:hover {
    cursor: pointer;
}

#color-count {
    align-self: center;
}

#mode-select {
    width: 40%;
}

button {
    margin-right: .2em;
    background: rgb(247,247,247);
}

button:hover {
    color: rgb(75,75,75);
    background: rgb(250,250,250);
    cursor: pointer;
}

button:active {
    color: rgb(125,125,125);
    background: white;
}

#scheme-container {
    display: flex;
    margin-top: 1.5vh;
    border-right: 1px solid black;
    height: 70%;
}

.color-box {
    border: 1.5px solid black;
    border-right: none;
    width: 100%;
    cursor: pointer;
}

#hex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    height: 10%;
}
